---
import Quote from "../components/Quote.astro";
import Layout from "../layouts/Layout2.astro";
---

<Layout
    title="Worsley Institute - UK training school"
    image="src/assets/Judy-Home.jpg"
>
    <h1>Welcome to the WIT UK training page!</h1>
    <p>
        WIT UK is delighted to announce our next intake which commences in March
        2023.
    </p>
    <p>
        You will find information about the programme structure, dates and fees
        by clicking on the following link.
    </p>
    <p>
        <a
            href="https://cdn.shopify.com/s/files/1/0605/2718/2031/files/WIT_UK_Programme_Structure_March_2023.pdf?v=1673375648"
            target="_blank"
            title="WIT UK Programme Structure March 2023 "
            rel="noopener noreferrer">Programme structure</a
        >
    </p>
    <p>
        A limited number of places are still available, so please notify your
        interest to<span>&nbsp;</span><a href="mailto:info@worsleyinstitute.uk"
            >info@worsleyinstitute.uk</a
        >
    </p>
    <p>
        Or if you would like to apply for a place, please submit an<span
            >&nbsp;</span
        ><a href="https://form.jotformeu.com/202513369494358">application</a>.
    </p>
    <p>We look forward to hearing from you!</p>
    <h2>Mission Statement</h2>
    <!-- <blockquote> -->
    <!--     “We must strive to see people not only as they present themselves in -->
    <!--     illness, but more importantly as they would be in perfect health and -->
    <!--     balance, in full discovery of their true nature, unique in body, mind -->
    <!--     and spirit.”<span>&nbsp;</span><cite>Professor J.R. Worsley</cite> -->
    <!-- </blockquote> -->
    <Quote />
    <p>
        J.R. was a devoted Master and teacher of Five-Element Acupuncture.
        Together with Judy Becker Worsley, he founded the Worsley Institute in
        order to protect the purity of the lineage that had been bestowed on him
        by his teachers in Taiwan, Singapore, and Korea.
    </p>
    <p>
        It was J.R.’s wish that the lineage, which he also referred to as “A Way
        of Life”, was continued without corruption or deviation; he held fast to
        that dedication and training and inspired hundreds of students around
        the world for nearly 50 years from 1956 until his death in 2003.
    </p>
    <p>
        In a world where many are searching for meaning and connection, the
        Worsley Institute continues this dedication to the preservation and
        promotion of this system of medicine which has its roots in Natural Law.
        This new training course in the UK has been designed to convey and
        nurture the importance of our relationship with Nature, Self, and
        Spirit.
    </p>
    <p>If you are looking for an acupuncture training where you enjoy:</p>
    <ul>
        <li>spending time in nature</li>
        <li>watching and listening to the world around you</li>
        <li>knowing yourself and others through the Laws of Nature</li>
        <li>honing your senses</li>
        <li>helping others</li>
        <li>appreciating the simpler things in life</li>
        <li>working with people on a profound level</li>
    </ul>
    <p>then we firmly believe that this course is for you.</p>
    <p>Please find below links to:</p>
    <p>
        an<span>&nbsp;</span><a
            href="https://cdn.shopify.com/s/files/1/0605/2718/2031/files/JBW-Open-Winc-Letter.pdf?v=1658776421"
            >Open Letter from Judy Worsley</a
        >, highlighting the transmission of the lineage of Classical
        Five-Element Acupuncture<span>®&nbsp;</span>to hundreds of
        acupuncturists the world over through J.R. Worsley’s teachings, post
        graduate support, mentoring and master-apprentice-style training,
        originally set up by J.R. and Judy Worsley, and now hosted by Judy
        Worsley and the Worsley Institute.
    </p>
    <p>
        We are not expecting extensive essays on history and theory of
        acupuncture, or lots of online reading and research. Instead the faculty
        team guided by Judy Worsley will be offering inspirational, high
        quality, and thought-provoking, relatable training.
    </p>
    <p>
        <a
            href="https://cdn.shopify.com/s/files/1/0605/2718/2031/files/WIT_UK_Faculty_List.pdf?v=1669673439"
            target="_blank"
            title="Worsley Institute Training℠ (WIT℠ UK) Programme Structure 2023"
            rel="noopener noreferrer">The<span>&nbsp;</span>full faculty team</a
        >, a team dedicated to recapture J.R.’s original inspirational,
        meaningful training in the oral tradition, staying true to the on-going
        Worsley lineage.
    </p>
    <p>
        <a
            href="https://cdn.shopify.com/s/files/1/0605/2718/2031/files/WIT_UK_Programme_Structure_March_2023.pdf?v=1673375648"
            target="_blank"
            title="Worsley Institute Training℠ (WIT℠ UK) Programme Structure 2023"
            rel="noopener noreferrer">Programme Structure and Dates</a
        >
    </p>
    <p>
        We are delivering the training in the beautiful Yorkshire Dales, near
        Leeds. Depending on the geographical location of the participants we may
        vary the location from time to time in order to make it more affordable
        or more practical for attendees.
    </p>
    <h2>WIT UK are committed to:</h2>
    <ul>
        <li>Minimizing academic and financial pressures</li>
        <li>Offering a training that is engaging, stimulating and fun</li>
        <li>
            Being inspired by JR’s style, content and approach, which includes
            enjoying being together with a common mission.
        </li>
    </ul>
    <p>
        <a
            href="https://cdn.shopify.com/s/files/1/0605/2718/2031/files/WIT_UK_Programme_Fees_March_2023.pdf?v=1669674572"
            target="_blank"
            title="Worsley Institute TrainingSM UK (WITSM UK) Programme Fees"
            rel="noopener noreferrer">Programme Fees</a
        >
    </p>
    <p>
        If you would like to join us on this training which offers an incredible
        opportunity for personal growth, challenging experiences and profound
        realisation, please complete the application form (link below).
    </p>
    <p>
        <a href="https://form.jotformeu.com/202513369494358">Application Form</a
        >
    </p>
    <p>
        Once your application has been received, we will contact you to arrange
        a short interview. Following your interview and reference checks, we
        will be in touch to let you know our decision.
    </p>
    <p>
        If you have any further questions after looking through all the
        information regarding the training, please email<span>&nbsp;</span><a
            href="mailto:info@worsleyinstitute.uk">info@worsleyinstitute.uk</a
        >
    </p>
    <h2>British Acupuncture Federation (BAF)</h2>
    <p>
        Our graduates are eligible to join the&nbsp;<a
            href="https://www.britishacupuncturefederation.co.uk/"
            target="_blank"
            title="Join the British Acupuncture Federation (BAF)"
            rel="noopener noreferrer">British Acupuncture Federation (BAF)</a
        >.
    </p>
    <p>
        The BAF is the largest independent collaboration of acupuncturists in
        the UK, including leading acupuncture associations, and supports public
        choice and the ability to access the use of acupuncture by highly
        trained practitioners working in both the public and independent
        sectors.
    </p>
    <p>
        An expanding number of invaluable benefits have been negotiated by the
        BAF.&nbsp; All UK based graduates who take up the Practitioner Plan
        membership of Worsley Institute are then eligible to become a registrant
        of the BAF and may take out discounted professional indemnity insurance
        with Balens.
    </p>
    <p>
        Further benefits include the highly popular access to the BAF sharps
        disposal service, which saves time, money and resources. Without need of
        contract the provider will collect and deliver when you are ready and
        includes full disposal.<br />Additionally at present over 14 health care
        companies allow our UK members, and BAF registrant client's to claim
        their cost of treatment back.
    </p>
    <p>
        With the text P<span>lease submit an</span><span>&nbsp;</span><a
            href="https://form.jotformeu.com/202513369494358"
            target="_blank"
            data-saferedirecturl="https://www.google.com/url?q=https://form.jotformeu.com/202513369494358&source=gmail&ust=1669756738603000&usg=AOvVaw0fXIBFSUWPzuWvtBj_idP1"
            rel="noopener noreferrer">application</a
        >.
    </p>
</Layout>
