---
---

<div>
    <div
        class="max-w-screen-xl mx-auto pb-8 px-4 overflow-hidden sm:px-6 lg:px-8"
    >
        <nav class="-mx-5 -my-2 flex flex-wrap justify-center">
            <!-- <div class="px-5 py-2"> -->
            <!--     <a -->
            <!--         href="/sitemap.xml" -->
            <!--         class="text-base leading-6 text-gray-600 hover:text-gray-900" -->
            <!--     > -->
            <!--         Sitemap -->
            <!--     </a> -->
            <!-- </div> -->
            <div class="px-5 py-2">
                <a
                    href="mailto:info@worsleyinstitute.uk"
                    class="text-base leading-6 text-gray-600 hover:text-gray-900"
                >
                    Contact
                </a>
            </div>
            <div class="px-5 py-2">
                <a
                    href="https://worsleyinstitute.com/"
                    class="text-base leading-6 text-gray-600 hover:text-gray-900"
                >
                    Main Worlsey Institute site
                </a>
            </div>
        </nav>
        <div class="mt-8">
            <p class="text-center text-base leading-6 text-gray-600">
                &copy; 2023 Worsley Institute. All rights reserved.
            </p>
        </div>
    </div>
</div>
