---
import { Img } from "astro-imagetools/components";
const { image } = Astro.props;
---

<div class="mx-auto max-w-3xl px-0">
    <Img
        src={image}
        alt="hero image"
        attributes={{
            img: {
                class: "border border-gray-400 rounded-lg mb-10",
            },
        }}
    />
</div>
