---
---

<div class="py-8 bg-white overflow-hidden">
    <div class="relative max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="relative">
            <blockquote class="mt-4">
                <div
                    class="max-w-3xl mx-auto text-center leading-9 font-medium text-blue-900"
                >
                    <svg
                        class="absolute top-0 left-auto transform -translate-x-4 lg:-translate-x-12 -translate-y-12 lg:-translate-y-2 h-8 w-8 md:h-10 md:w-10 text-blue-600 z-0"
                        fill="currentColor"
                        viewBox="0 0 32 32"
                    >
                        <path
                            d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z"
                        ></path>
                    </svg>
                    <p class="text-blue-800 text-lg md:text-xl md:leading-9">
                        We must strive to see people not only as they present
                        themselves in illness, but more importantly as they
                        would be in perfect health and balance, in full
                        discovery of their true nature, unique in body, mind and
                        spirit.
                    </p>
                </div>
                <footer class="mt-2">
                    <div class="md:flex md:items-center md:justify-center">
                        <div
                            class="mt-3 text-center md:mt-0 md:flex md:items-center"
                        >
                            <div
                                class="text-xl leading-relaxed font-semibold text-blue-600"
                            >
                                Professor J.R. Worsley
                            </div>
                        </div>
                    </div>
                </footer>
            </blockquote>
        </div>
    </div>
</div>
